.cbi-section,
.navbar-container::before,
.navbar-container,
.tabs,
.main-left {
	background-color: transparent !important;
}

.cbi-input-select,
.cbi-value-field select,
.cbi-dropdown-open select {
        background-color: transparent !important;
}

.cbi-input-select option {
        background-color: #000000 !important;
        color: #ffffff !important;
}

.cbi-section,
.cbi-section-error,
#iptables,
.Firewall form,
#cbi-network>.cbi-section-node,
#cbi-wireless>.cbi-section-node,
#cbi-wireless>#wifi_assoclist_table,
[data-tab-title],
[data-page^="admin-system-admin"]:not(.node-main-login) .cbi-map:not(#cbi-dropbear),
[data-page="admin-system-opkg"] #maincontent>.container {
	background-color: transparent !important;
}

.cbi-tabcontainer>.cbi-value:nth-of-type(2n) {
	background-color: transparent !important;
}

.cbi-section-node .cbi-value:nth-child(even),
.cbi-section .tr:nth-child(even):not(:first-child) .td {
	background-color: transparent !important;
}

#cbi-wireless .td,
#cbi-network .tr:first-child>.td,
.table[width="100%"]>.tr:first-child>.td,
[data-page="admin-network-diagnostics"] .tr>.td,
.tr.table-titles>.th,
.tr.cbi-section-table-titles>.th {
	background-color: transparent !important;
}

.cbi-section-table-row {
	background-color: transparent !important;
}

.table.cbi-section-table .cbi-section-table-row:nth-of-type(odd) {
	background-color: transparent !important;
}

fieldset.cbi-section>textarea,
div#command-output>textarea {
	background-color: transparent !important;
}

h2[name="content"] {
	background-color: transparent !important;
}

.cbi-section>h3:first-child,
.panel-title {
	background-color: transparent !important;
}

div>table>tbody>tr:nth-of-type(2n),
div>.table>.tr:nth-of-type(2n) {
	background-color: transparent !important;
}

h2,
h4 {
	background-color: transparent !important;
}

select {
	background-color: transparent !important;
}


.tr.cbi-rowstyle-2 {
	background-color: transparent !important;
}

.cbi-value-field,
.cbi-dropdown,
.cbi-dropdown ul,
.cbi-dropdown li {
	background: transparent;
}

.network-status-table,
.ifacebox,
.ifacebox-head,
.ifacebox-body,
.ifacebadge {
	background: transparent;
}

.cbi-value-field,
.cbi-input-text {
	background: transparent;
}

.cbi-input-textarea {
	background: transparent;
}

.cbi-section,
.cbi-section-node,
.cbi-value,
.cbi-value-field,
.cbi-input-password,
.control-group {
	background: transparent;
}

.cbi-value-field,
#localtime,
.control-group {
	background: transparent;
}

.control-group,
.control-group input[type="text"] {
	background: transparent;
}

.controls .pager.center {
	background: transparent !important;
}

.nas-container,
.nas-container_card,
.app-container,
[class*="nas-container"],
[class*="app-container"] {
	background: transparent !important;
}

[data-theme="dark"] [class*="nas-container"],
[data-theme="dark"] [class*="app-container"] {
	background: transparent !important;
}

.container .table-wrapper .table-header {
	background-color: transparent !important;
}

.cbi-value:hover,
.cbi-section-table tr.cbi-section-table-row:hover td {
        background-color: transparent !important;
}

.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: 9999;
	background-color: #18191f;
	box-shadow: 0 0 50px cyan, 0 0 100px cyan, 0 0 150px cyan, 0 0 200px cyan;
	animation: animate 15s linear infinite;
}

.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}

.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}

.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}

.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}

.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}

.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}

.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}

.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}

.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	90% {
		opacity: .7;
	}

	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 0;
	}
}