<%#
    Spectra is a clean HTML5 theme for LuCI. It is based on luci-theme-material Argon Template
    luci-theme-spectra
    Copyright 2020 Jerrykuku <jerrykuku@qq.com>
    Have a bug? Please create an issue here on GitHub!
    https://github.com/jerrykuku/luci-theme-spectra/issues
    luci-theme-material:
    Copyright 2015 Lutty Yang <lutty@wcan.in>
    Agron Theme
    https://demos.creative-tim.com/spectra-dashboard/index.html
    Licensed to the public under the Apache License 2.0
-%>

<% local ver = require("luci.version") %>
</div>
<footer class="mobile-hide">
    <a href="https://github.com/openwrt/luci" class="powered-by">Powered by 𝐓𝐮𝐚̂𝐧 𝐁𝐞́ <%= ver.luciname %> (<%= ver.luciversion %>)</a> / <a href="https://github.com/Thaolga/openwrt-nekobox" target="_blank" class="version"><%= ver.distversion %></a>
    <ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
</footer>
</div>
</div>
<div id="tempcpu"></div>
<div id="cpuusage"></div>
<script>
    var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
    var winHeight = $(window).height();
    $(window).resize(function () {
        var winWidth = $(window).width();
        if (winWidth < 600) {
            var newHeight = $(this).height();
            var keyboradHeight = newHeight - winHeight;
            $(".ftc").css("bottom", keyboradHeight + 30);
        }
    });
</script>
<script type="text/javascript">L.require('menu-spectra')</script>
</body>
</html>
